body{
    background: rgb(185,185,185);
    background: linear-gradient(128deg, rgba(185,185,185,1) 0%, rgba(82,82,82,1) 100%);
}
/* index.html */



.buttons{
    
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100vh;
        
    

    #button1{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        background-color: #30313438;
        border: 2px solid #303134;
        border-radius: 10px;
        color: white;;
        padding: 1.5rem;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 24px;
        margin: 2rem;
        transition-duration: 0.4s;
        cursor: pointer;
    }
    #button1:hover {
        background-color: #30313438;
        color: white;
        font-size: 36px;
    }    

    #button2{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        background-color: #30313438;
        border: 2px solid #303134;
        border-radius: 10px;
        color: white;
        padding: 1.5rem;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 24px;
        margin: 2rem;
        transition-duration: 0.4s;
        cursor: pointer;
        }
    #button2:hover {
        background-color: #30313438;
        color: white;
        font-size: 36px;
    }  
}


/* kalkulator prosty */
.simpleCalculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    #number1{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        background-color: hsl(0, 0%, 60%);
        width: 20rem;
        font-size: 3rem;
        padding: 20px;
        font-weight: lighter;
        border: 2px solid black;
        border-radius: 50px;
        margin: 5px;
    }
    #number1:hover{
        background-color: hsl(0, 0%, 70%);
    }
    #operator{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        background-color: hsl(0, 0%, 60%);
        width: 20rem;
        font-size: 2rem;
        padding: 20px;
        font-weight: lighter;
        border: 2px solid black;
        border-radius: 20px;
        margin: 5px;

    }
    #operator:hover{
        background-color: hsl(0, 0%, 70%);
    }
    #operator:active{
        background-color: hsl(0, 0%, 90%);
    }
    #number2{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        background-color: hsl(0, 0%, 60%);
        width: 20rem;
        font-size: 3rem;
        padding: 20px;
        font-weight: lighter;
        border: 2px solid black;
        border-radius: 50px;
        margin: 5px;
    }
    #number2:hover{
        background-color: hsl(0, 0%, 70%);
    }
    #calculate{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        background-color: hsl(0, 0%, 60%);
        width: 20rem;
        font-size: 2rem;
        padding: 20px;
        font-weight: lighter;
        border: 2px solid black;
        border-radius: 20px;
        margin: 5px;
    }
    #calculate:hover{
        background-color: hsl(0, 0%, 70%);
    }
    #result{
        font-size: 38px;
    }

} 


/* kalkulator obrazkowy */
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ustawienie minimalnej wysokości, aby umieścić kalkulator na środku */
    
  }

.calculatorImage{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:  hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    border: 20px;
}

#display{
    margin: 5px;
    width: 90%;
    padding: 20px;
    font-size: 5rem;
    text-align: right;
    border: none;
    border-radius: 15px;
    background-color: hsl(0, 0%, 20%) ;
    color: white;
}

    
#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;

    button {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        border: none;
        background-color: hsl(0, 0%, 30%);
        color: white;
        font-size: 3rem;
        font-weight: bold;
        cursor: pointer;
    }

    button:hover{
        background-color: hsl(0, 0%, 40%);
    }

    button:active{
        background-color: hsl(0, 0%, 50%);
    }
    .operator-btn {
        background-color: hsl(39, 100%, 50%);
    }
    .operator-btn:hover {
        background-color: hsl(39, 100%, 70%);
    }
    .operator-btn:active {
        background-color: hsl(39, 100%, 80%);
    }
  
}


